In [25]:
import pandas as pd

In [26]:
annees = [2019, 2020, 2021, 2022, 2023]
dfs = []

In [27]:
urls = {
    2019: "https://www.data.gouv.fr/fr/datasets/r/e22ba475-45a3-46ac-a0f7-9ca9ed1e283a",
    2020: "https://www.data.gouv.fr/fr/datasets/r/07a88205-83c1-4123-a993-cba5331e8ae0",
    2021: "https://www.data.gouv.fr/fr/datasets/r/85cfdc0c-23e4-4674-9bcd-79a970d7269b",
    2022: "https://www.data.gouv.fr/fr/datasets/r/5fc299c0-4598-4c29-b74c-6a67b0cc27e7",
    2023: "https://www.data.gouv.fr/fr/datasets/r/104dbb32-704f-4e99-a71e-43563cb604f2"
}

for annee, url in urls.items():
    try:
        df = pd.read_csv(url, sep=';', encoding='latin1')
        df['annee'] = annee
        dfs.append(df)
        print(f"{annee} chargé avec succès")
    except Exception as e:
        print(f"Erreur pour {annee}: {e}")

2019 chargé avec succès
2020 chargé avec succès
2021 chargé avec succès
2022 chargé avec succès
2023 chargé avec succès

In [28]:
df_accidents = pd.concat(dfs, ignore_index=True)
print(f"\n Données totales chargées : {df_accidents.shape[0]} lignes")

 Données totales chargées : 273226 lignes

In [29]:
df_accidents.head()

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long,annee,Accident_Id
0,2.019000e+11,30,11,2019,01:30,4,93,93053,1,1,1,2,AUTOROUTE A3,"48,8962100","2,4701200",2019,NaN
1,2.019000e+11,30,11,2019,02:50,3,93,93066,1,1,1,6,AUTOROUTE A1,"48,9307000","2,3688000",2019,NaN
2,2.019000e+11,28,11,2019,15:15,1,92,92036,1,1,1,4,AUTOROUTE A86,"48,9358718","2,3191744",2019,NaN
3,2.019000e+11,30,11,2019,20:20,5,94,94069,1,1,1,4,A4,"48,8173295","2,4281502",2019,NaN
4,2.019000e+11,30,11,2019,04:00,3,94,94028,1,1,1,2,A86 INT,"48,7763620","2,4332540",2019,NaN

In [30]:
df_accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273226 entries, 0 to 273225
Data columns (total 17 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Num_Acc      217924 non-null  float64
 1   jour         273226 non-null  int64
 2   mois         273226 non-null  int64
 3   an           273226 non-null  int64
 4   hrmn         273226 non-null  object
 5   lum          273226 non-null  int64
 6   dep          273226 non-null  object
 7   com          273226 non-null  object
 8   agg          273226 non-null  int64
 9   int          273226 non-null  int64
 10  atm          273226 non-null  int64
 11  col          273226 non-null  int64
 12  adr          269247 non-null  object
 13  lat          273226 non-null  object
 14  long         273226 non-null  object
 15  annee        273226 non-null  int64
 16  Accident_Id  55302 non-null   float64
dtypes: float64(2), int64(9), object(6)
memory usage: 35.4+ MB

In [31]:
print("\nColonnes disponibles :", list(df_accidents.columns))

Colonnes disponibles : ['Num_Acc', 'jour', 'mois', 'an', 'hrmn', 'lum', 'dep', 'com', 'agg', 'int', 'atm', 'col', 'adr', 'lat', 'long', 'annee', 'Accident_Id']

In [32]:
print("\nValeurs manquantes par colonne :")
print(df_accidents.isna().sum())

Valeurs manquantes par colonne :
Num_Acc         55302
jour                0
mois                0
an                  0
hrmn                0
lum                 0
dep                 0
com                 0
agg                 0
int                 0
atm                 0
col                 0
adr              3979
lat                 0
long                0
annee               0
Accident_Id    217924
dtype: int64

(273226, 18)